@use '@angular/material' as mat;
@use '@angular/material/core/m2' as mat-core;

@tailwind base;
@tailwind components;
@tailwind utilities;

$light-primary: mat-core.define-palette(mat-core.$indigo-palette);
$light-accent: mat-core.define-palette(mat-core.$pink-palette);

$light-theme: mat-core.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
  )
));

@include mat.core();
@include mat.all-component-themes($light-theme);

body {
  @apply font-sans transition-colors duration-500;
  height: 100%;
  margin: 0;
}

:root {
  --primary: #4f46e5;
  --secondary: #6b7280;
  --dark: #1f2937;
  --light: #f9fafb;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #4f46e5;
  padding: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.text-color-primary {
  color: rgb(179 143 173);
}

.text-color-secondary {
  color: rgb(64 39 77);
}
