   .hero {
       background: linear-gradient(135deg, #f7d4d4 0%, #4f2b75 100%);
       color: white;
   }

   .hero:hover {
       cursor: pointer;
   }

   a:hover {
       cursor: pointer;
   }

   .description-text {
       width: 55%;
   }

   @keyframes scrollLoop {
       0% {
           transform: translateX(0%);
       }

       100% {
           transform: translateX(-60%);
       }
   }

   .animate-scroll-loop {
       animation: scrollLoop 40s linear infinite;
   }

   .project-card {
       transition: transform 0.3s, box-shadow 0.3s;
   }

   .project-card:hover {
       transform: translateY(-5px);
       box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
   }