<!-- Home Section -->
<section id="home"
  class="bg-hero-light text-center min-h-screen px-4 flex items-center justify-center text-gray-900 dark:text-gray-100 transition-colors duration-500 dark:bg-hero-dark">
  <div class="container mx-auto flex flex-col items-center ">
    <h1 class="text-5xl md:text-6xl font-bold mb-6 dark:text-color-dark transition-all duration-500 ease-in-out">
      Driving Growth with Scalable
      <br>
      <span class="text-color-terracota dark:text-gray-300 transition">Web Software Solutions</span>
    </h1>
    <div class="contents">
      <p
        class="description-text text-xl py-8 md:text-xl mb-8 dark:text-color-dark transition-all duration-500 ease-in-out">
        We deliver cutting-edge web and software solutions, transforming ideas into scalable, secure, and user-focused
        experiences. From startups to enterprises, our tailored solutions empower success in the digital world.
      </p>
    </div>
    <div class="flex justify-center space-x-4">
      <a routerLink="/projects" (click)="goToProjects()"
        class="projects-button bg-color-terracota text-white dark:bg-gray-800 dark:text-gray-300 px-6 py-3 rounded-lg font-semibold hover:bg-opacity-70 hover:dark:bg-opacity-80 transition">
        Book a Call
      </a>
      <a routerLink="/contact" (click)="goToContact()"
        class="border-2 border-beige-dark text-beige-dark hover:text-gray-900 hover:bg-gray-100 px-6 py-3 rounded-lg font-semibold hover:dark:bg-gray-400 hover:dark:text-gray-900 hover:dark:border-gray-400 transition">
        Case Study
      </a>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about"
  class="min-h-full dark:bg-hero-dark text-gray-800 dark:text-gray-100 transition-colors duration-500 px-4 py-6 flex items-center">
  <div class="container mx-auto max-w-5xl flex flex-col">

    <!-- Text and Skills -->
    <div class="flex justify-center flex-col items-center text-lg leading-relaxed ">

      <!-- Skills -->

      <section class="flex flex-col items-center w-full mb-6 py-16 text-center overflow-hidden">
        <h2 class="text-3xl font-bold text-gray-800 dark:text-color-dark py-11">
          <p class="text-color-terracota">
            Trusted by 4,150+
          </p>
          startups, agencies, studios, and SMBs.</h2>

        <div class="relative w-full overflow-hidden group">
          <div class="flex animate-scroll-loop w-max whitespace-nowrap group-hover:[animation-play-state:paused]">

            <!-- Repeat entire skills list twice inline -->
            <ng-container *ngFor="let repeat of [1, 2,3]">
              <ng-container *ngFor="let skill of skills">
                <div
                  class="inline-flex items-center gap-2 px-5 py-2 text-white dark:text-indigo-200 rounded-full text-lg font-medium shadow-sm min-w-fit mx-2">
                  <img [src]="skill.icon" [alt]="skill.name" class="w-6 h-6 object-contain filter dark:invert" />
                  <span class="hidden sm:inline text-color-dark font-bold">{{ skill.name }}</span>
                </div>
              </ng-container>
            </ng-container>

          </div>
        </div>
      </section>
    </div>
  </div>
</section>
